    <div class="slds-grid slds-wrap slds-m-bottom--large">
      <nav class="slds-col slds-size--1-of-1">
        <div class="slds-page-header" role="banner">
          <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
              <div class="slds-media">
                <div class="slds-media__figure">
                  <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-standard-user">
                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#record"></use>
                  </svg>
                </div>
                <div class="slds-media__body">
                  <p class="slds-text-heading--label">Salesforce.com Addon</p>
                  <div class="slds-grid">
                    <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Record Title">ShuffleIQ</h1>
                    <div class="slds-col slds-shrink-none">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slds-col slds-no-flex slds-align-bottom">
              <div class="slds-button-group" role="group">
                <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                  <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                    </svg>Follow</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="slds-grid slds-page-header__detail-row">
            <div class="slds-col--padded slds-size--1-of-4">
              <dl>
                <dt>
                  <p class="slds-text-heading--label" title="Step 1">Step 1</p>
                </dt>
                <dd>
                  <p class="slds-text-body--regular">Choose Records</p>
                </dd>
              </dl>
            </div>
            <div class="slds-col--padded slds-size--1-of-4">
              <dl>
                <dt>
                  <p class="slds-text-heading--label" title="Step 2">Step 2</p>
                </dt>
                <dd>
                  <p class="slds-text-body--regular">Choose Users</p>
                </dd>
              </dl>
            </div>
            <div class="slds-col--padded slds-size--1-of-4">
              <dl>
                <dt>
                  <p class="slds-text-heading--label" title="Step 3">Step 3</p>
                </dt>
                <dd>Shuffle!</dd>
              </dl>
            </div>
            <div class="slds-col--padded slds-size--1-of-4">
              <dl>
                <dt>
                  <p class="slds-text-heading--label" title="Step 4">Step 4</p>
                </dt>
                <dd>
                  <p>Decide what to do with all your free time.</p>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="slds-grid">
      <main class="slds-col slds-col--padded">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Riffle_shuffle.jpg" alt="Shuffling Cards">
      </main>
      <aside class="slds-col slds-col--padded">
        <div class="slds-tabs--default">
          <ul class="slds-tabs--default__nav" role="tablist">
            <li class="slds-tabs__item slds-text-heading--label slds-active" title="Item One" role="presentation"><a href="#" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1">Basics</a></li>
            <li class="slds-tabs__item slds-text-heading--label" title="Item Two" role="presentation"><a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2">Features</a></li>
            <li class="slds-tabs__item slds-text-heading--label" title="Item Three" role="presentation"><a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3">Get Started</a></li>
          </ul>
          <div id="tab-default-1" class="slds-tabs__content slds-show" role="tabpanel">
            <ul class="slds-timeline">
              <li class="slds-timeline__item">
                <span class="slds-assistive-text">Choose a User</span>
                <div class="slds-media slds-media--reverse">
                  <div class="slds-media__figure">
                    <div class="slds-timeline__actions">
                      <p class="slds-timeline__date">5 Seconds</p>
                    </div>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-media slds-media--timeline slds-timeline__media--task">
                      <div class="slds-media__figure">
                        <svg aria-hidden="true" class="slds-icon slds-icon-standard-task slds-timeline__icon">
                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#user"></use>
                        </svg>
                      </div>
                      <div class="slds-media__body">
                        <p>Choose a user.</p>
                        <ul class="slds-list--horizontal slds-text-body--small">
                          <li class="slds-list__item slds-m-right--large">
                            <p>Lookup by name, email, alias, role, or profile.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="slds-timeline__item">
                <span class="slds-assistive-text">Choose their Records</span>
                <div class="slds-media slds-media--reverse">
                  <div class="slds-media__figure">
                    <div class="slds-timeline__actions">
                      <p class="slds-timeline__date">30 Seconds</p>
                    </div>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-media slds-media--timeline slds-timeline__media--event">
                      <div class="slds-media__figure">
                        <svg aria-hidden="true" class="slds-icon slds-icon-standard-event slds-timeline__icon">
                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#calibration"></use>
                        </svg>
                      </div>
                      <div class="slds-media__body">
                        <p>Set your record filters.</p>
                        <ul class="slds-list--horizontal slds-text-body--small">
                          <li class="slds-list__item slds-m-right--large">
                            <p>Filter by any standard fields to choose which records to reassign.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="slds-timeline__item">
                <span class="slds-assistive-text">Choose who to reassign to</span>
                <div class="slds-media slds-media--reverse">
                  <div class="slds-media__figure">
                    <div class="slds-timeline__actions">
                      <p class="slds-timeline__date">10 seconds</p>
                    </div>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-media slds-media--timeline slds-timeline__media--call">
                      <div class="slds-media__figure">
                        <svg aria-hidden="true" class="slds-icon slds-icon-standard-log-a-call slds-timeline__icon">
                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#team_member"></use>
                        </svg>
                      </div>
                      <div class="slds-media__body">
                        <p>Choose the users for your reassign queue.</p>
                        <ul class="slds-list--horizontal slds-text-body--small">
                          <li class="slds-list__item slds-m-right--large">
                            <p>Just drag and drop the users who should receive the redistributed records.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="slds-timeline__item">
                <span class="slds-assistive-text">Run it!</span>
                <div class="slds-media slds-media--reverse">
                  <div class="slds-media__figure">
                    <div class="slds-timeline__actions">
                      <p class="slds-timeline__date">10 seconds</p>
                    </div>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-media slds-media--timeline slds-timeline__media--email">
                      <div class="slds-media__figure">
                        <svg aria-hidden="true" class="slds-icon slds-icon-standard-email slds-timeline__icon">
                          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#reward"></use>
                        </svg>
                      </div>
                      <div class="slds-media__body">
                        <p>Records are redistributed automatically based on your rules.</p>
                        <ul class="slds-list--horizontal slds-text-body--small">
                          <li class="slds-list__item slds-m-right--large">
                            <p>Choose from simple round-robin or more complex weighted distributions.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="tab-default-2" class="slds-tabs__content slds-hide" role="tabpanel">
            <h2>Item Two Content</h2>
          </div>
          <div id="tab-default-3" class="slds-tabs__content slds-hide" role="tabpanel">
            <h2>Item Three Content</h2>
          </div>
        </div>
      </aside>
      <!--nav class="slds-col slds-size--1-of-1 slds-p-around--medium">
        <div class="slds-card">
          <div class="slds-card__header slds-grid">
            <div class="slds-media slds-media--center slds-has-flexi-truncate">
              <div class="slds-media__figure">
                <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
                  <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
                </svg>
              </div>
              <div class="slds-media__body">
                <h2 class="slds-text-heading--small slds-truncate">Card Header (2)</h2>
              </div>
            </div>
            <div class="slds-no-flex">
              <div class="slds-button-group">
                <button class="slds-button slds-button--neutral slds-button--small">Button</button>
                <button class="slds-button slds-button--icon-border-filled">
                  <svg aria-hidden="true" class="slds-button__icon">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                  </svg>
                  <span class="slds-assistive-text">Show More</span>
                </button>
              </div>
            </div>
          </div>
          <div class="slds-card__body">
            <table class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal slds-no-row-hover">
              <thead>
                <tr>
                  <th class="slds-text-heading--label slds-size--1-of-4" scope="col">Name</th>
                  <th class="slds-text-heading--label slds-size--1-of-4" scope="col">Company</th>
                  <th class="slds-text-heading--label slds-size--1-of-4" scope="col">Title</th>
                  <th class="slds-text-heading--label slds-size--1-of-4" scope="col">Email</th>
                  <th class="slds-row-action" scope="col">
                    <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
                      <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                      </svg>
                      <span class="slds-assistive-text">Show More</span>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="slds-hint-parent">
                  <td class="slds-size--1-of-4" data-label="Name">Adam Choi</td>
                  <td class="slds-size--1-of-4" data-label="Company">Company One</td>
                  <td class="slds-size--1-of-4" data-label="Title">Director of Operations</td>
                  <td class="slds-size--1-of-4" data-label="Email">adam@company.com</td>
                  <td>
                    <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
                      <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                      </svg>
                      <span class="slds-assistive-text">Show More</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="slds-card__footer"><a href="#">View All <span class="slds-assistive-text">entity type</span></a></div>
        </div>
      </nav-->
    </div>