<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div class="slds-wrap">
  <div class="slds-text-body--small slds-text-align--center slds-m-top--large slds-m-bottom--small">
    <p>&copy; 2015 ShuffleIQ&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:hello@shuffleiq.com">hello@shuffleiq.com</a></p>
  </div>
</div>
</body>
</html>
